# templates/Caddyfile.j2
{{ john_name }}.{{ domain }} {
    reverse_proxy paperless-{{ john_name }}:8000
    
    encode gzip
    
    log {
        output file /var/log/caddy/{{ john_name }}-access.log
    }
    
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        X-XSS-Protection "1; mode=block"
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        Referrer-Policy strict-origin-when-cross-origin
    }
}

{{ jane_name }}.{{ domain }} {
    reverse_proxy paperless-{{ jane_name }}:8000
    
    encode gzip
    
    log {
        output file /var/log/caddy/{{ jane_name }}-access.log
    }
    
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        X-XSS-Protection "1; mode=block"
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        Referrer-Policy strict-origin-when-cross-origin
    }
}
